@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@300;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3 {
    font-family: Nunito, sans-serif;
    font-weight: 400;
  }

  body {
    font-family: Nunito Sans, sans-serif;
  }

}